extends layout

block content
	br
	.container
		if Object.keys(Mikuia.streams).length > 0
			- var Channel = Mikuia.getChannel(Mikuia.getLeaderboard('bestLive').getLeaderboard()[0])
			- var Stream = Mikuia.streams[Channel.getIRCName()]
			.row
				.col-md-12
					.panel.panel-default
						.panel-heading Featured Stream
						.panel-body
							br
							.col-lg-8
								+userBadge(Channel, 'medium', {nameSize: 'large', sp: true, status: false})
								h2=Stream.channel.status
								p=Channel.getInfo('bio')
							.col-lg-4
								object.index-screenshot#live_embed_player_flash(type='application/x-shockwave-flash', height='183', width='340', data='http://www.twitch.tv/widgets/live_embed_player.swf?channel=#{Channel.getDisplayName()}')
									param(name='allowFullScreen', value='true')
									param(name='allowScriptAccess', value='always')
									param(name='allowNetworking', value='all')
									param(name='movie', value='http://www.twitch.tv/widgets/live_embed_player.swf')
									param(name='flashvars', value='hostname=www.twitch.tv&channel=#{Channel.getDisplayName()}&auto_play=true&start_volume=25')
		.row
			.col-md-8
				.panel.panel-default
						.panel-heading Recent Activity
						.panel-body
							each activityId in Mikuia.getActivities().slice(0, 25)
								+activity(activityId)
			.col-md-4

				if !user
					.well
						h3 Welcome to Mikuia!
						p a Twitch.tv bot designed for actual gaming, not just chat moderation!
						a.btn.btn-primary(href='/guide') Read the guide »
				else if !Mikuia.getChannel(user.username).getInfo('donator')
					.well
						h3 Consider donating?
						p
							| Want to make me feel better about all those wasted hours? Also, I'm hungry...
							br
							| I'll give you a little heart next to your name!
						a.btn.btn-primary(href='https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=psqmaxor%40gmail%2ecom&lc=GB&item_name=Mikuia&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted', target='_blank') Donate »

				if '#hatsuney' in Mikuia.streams
					.panel.panel-danger
						.panel-heading Admins Online
						.panel-body
							+userBadge(Mikuia.getChannel('hatsuney'), 'small', {sp: true})
						.panel-footer.text-danger
							| If you have problems, feel free to visit and ask!
				else
					.panel.panel-warning
						.panel-heading Problems? Ideas?
						.panel-body
							| Feel free to contact me at any time!
							br
							b psqmaxor@gmail.com
						.panel-footer
							.pull-right.text-muted - Maxorq / Hatsuney
							br

				.panel.panel-default
					.panel-heading Best Streamers
					.panel-body
						- var Leaderboard = Mikuia.getLeaderboard('sp').getLeaderboard()
						each channelName in Leaderboard.slice(0, 5)
							- var Channel = Mikuia.getChannel(channelName)
							+userBadge(Channel, 'small', {sp: true})
					.panel-footer
						a(href='/leaderboard') View full leaderboard »

				if Object.keys(Mikuia.streams).length > 1
					- var Leaderboard = Mikuia.getLeaderboard('bestLive').getLeaderboard()
					.panel.panel-default
						.panel-heading Other Streams
						.panel-body
							each channelName in Leaderboard.slice(1, Leaderboard.length)
								- var Channel = Mikuia.getChannel(channelName)
								+userBadge(Channel, 'small', {sp: true})

block footerScript
	script(type='text/javascript').
		$.backstretch('#{Stream.channel.background}')